@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --orange: #EC623C;
    --light-orange: #F0852D;
    --white: #fff;
    --offwhite: #F3F6F4;
    --yellow: #FEDD3F;
    --black: #000;
    --purple: #7C55CA;
    --blue: #3F49AC;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--orange);
}

@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }
  
.wrapper {
    max-width: 98%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper2 {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #00000000;
    z-index: 10;
}

/* css for the topmost information scroller */
.scroller {
    background: var(--orange);
    height: 40px;
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.gld_slide{
    display: flex;
}
.gld2_slide{
    display: flex;
}
.scroller span{
    white-space: nowrap;
    animation: slide 50s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(100%);
        /* Initial position, off-screen to the right */
    }

    to {
        transform: translateX(-100%);
        /* Final position, off-screen to the left */
    }
}

/* css for the navigation bar */

nav .wrapper {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
}

nav .wrapper .logo-holder img {
    max-height: 100px;
    width: auto;
}

nav .btn-holder button {
    padding: 8px 25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    transition: all .2s;
    width: 190px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    margin-left: 15px;
    border: 0px none;
}

nav .btn-holder a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--yellow);
    color: var(--black);
}

.btn-secondary {
    background-color: var(--orange);
    color: var(--white);
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--orange);
}

.btn-secondary:hover {
    color: var(--black);
    background-color: var(--yellow);
}

/* css for the hero section for video  */
.hero-section {
    position: relative;
}

.video-player {
    position: relative;
    height: 100vh;
}

.video-player video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    /* Ensure the content appears above the tint */
}
.hero-content img{
    display: block;
    object-fit: cover;
    width: auto;
}


.video-player::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 0, 128, 0.5);
    z-index: 0;
}

/* css for coupon cards */
.coupons-holder {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: -24.5vh;
    z-index: 100;
    position: relative;
    margin-bottom: 30px;
}
.coupons-holder .cards {
    max-width: 290px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.coupons-holder-slider{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.coupons-holder .cards .text-holder {
    background-color: var(--white);
    color: var(--black);
    min-height: 150px;
    padding: 15px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coupons-holder .cards .text-holder p {
    font-size: 1.25rem;
    font-weight: 500;
}

.coupons-holder .cards .text-holder h2 {
    font-size: 2.2rem;
    margin-bottom: 4px;
}

.coupons-holder .cards .img-holder {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.coupons-holder .cards .img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.coupons-holder .cards button {
    padding: 6px 20px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 1rem;
    transition: all .2s;
    width: 135px;
    box-shadow: 0 0 10px #00000027;
    cursor: pointer;
    border: 0px none;
    margin: 0 auto;
}

/* css for booking section  */

.booking-section {
    margin: 50px 0;
}

.booking-section .booking-section-child {
    background: linear-gradient(91deg, #5602c1 1.6%, #8f0bf7);
    padding: 40px;
    border-radius: 25px;
}

.booking-section-child .text-holder {
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
}

.booking-section-child .img-form-holder {
    display: flex;
    gap: 0 40px;
}

.booking-section-child .text-holder h1 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 5px #00000024;
}

.booking-section-child .img-holder,
.booking-section-child .form-holder {
    width: 50%;
    border-radius: 15px;
}
.booking-section-child .form-holder{
    background-color: var(--white);
}
.booking-section-child .img-holder {
    max-width: 550px;
    overflow: hidden;
    position: relative;
}
.booking-section-child .img-holder .btn-holder{
    position: absolute;
    z-index: 100;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}
.booking-section-child .img-holder .btn-holder a{
    font-size: 3rem;
    color: var(--light-orange);
    font-weight: 500;
    text-shadow: 0 0 5px #00000096;
    cursor: pointer;
}

.booking-section-child .img-holder img {
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
}
.booking-section-child #imageSlider1 {
    display: flex;
    transition: transform 1s ease-in-out;
}

.booking-section-child #imageSlider1 img {
    width: 100%;
    height: auto;
}

.booking-section-child .form-holder {
    padding: 30px;
}

.booking-section-child .form-holder label {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.booking-section-child .form-holder select {
    width: 90%;
    font-size: 1.1rem;
    padding: 6px 8px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.booking-section-child .form-holder .radio-label {
    display: inline-block;
    padding: 8px 20px;
    margin: 5px;
    background: #459bd7;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 5px;
    margin-bottom: 10px;
}

.booking-section-child .form-holder .radio-label:hover {
    color: var(--white);
    background-color: var(--orange);
}

.booking-section-child .form-holder .radio-slot {
    display: none;
    /* Hide the actual radio buttons */
}

.booking-section-child .form-holder .radio-slot:checked + .radio-label {
    color: var(--white);
    background-color: var(--orange);
}

/* css for testimonials section */
.testimonials {
    background: var(--offwhite);
    padding: 40px 0;
}

.testimonials .wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.testimonials .glide3{
    overflow: hidden;
    width: 100%;
}
.gld3_track{
    position: relative;
}
.testimonials .text-holder h1 {
    font-size: 2.8rem;
    letter-spacing: 3px;
}
.testimonials .glide__arrows{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.testimonials .glide__arrows a{
    font-size: 2.5rem;
    color: var(--light-orange);
    font-weight: 400;
    text-shadow: 0 0 5px #00000096;
    cursor: pointer;
}
.testimonials .logo-holder {
    margin-bottom: 35px;
}

.testimonials .logo-holder img {
    width: 80px;
    height: 100%;
    object-fit: cover;
}

.testimonials .text-holder {
    margin-bottom: 35px;
}

.testimonials-holder {
    display: flex;
    /* gap: 0 30px; */
    margin-bottom: 40px;
}

.testimonials-holder .cards {
    max-width: 390px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px #0000003d;
    flex: 1;

}

.testimonials-holder .img-holder {
    position: relative;
}

.testimonials-holder .img-holder img {
    width: 100%;
    height: auto;
    display: block;
}

.testimonials-holder .img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #7a51becf, transparent);

}

.testimonials-holder .img-holder .commas {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonials-holder .img-holder .commas img {
    width: 3.125rem;
    height: 3.125rem;
}

.testimonials-holder .text-holder {
    height: 100%;
    padding: 50px 20px 20px 20px;
    text-align: center;
    background-color: var(--white);
    box-shadow: 5px 5px 10px #0000003d;
    margin-bottom: 0px;
}

.testimonials-holder .text-holder .testimonial-name {
    color: var(--orange);
    font-size: 1.25rem;
    margin: 0 0 15px 0;
}

.testimonials-holder .text-holder .testimonial-review {
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 15px;
    color: var(--black);
}

.testimonials-holder .text-holder .testimonial-stars svg {
    height: 25px;
    width: 110px;
}

/* css for trampoline benefits section */
.trampoline-benefits {
    padding: 7.5rem 0;
    position: relative;
}

.trampoline-benefits::before {
    content: "";
    background: #9a99995c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.trampoline-benefits .benefits-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trampoline-benefits .benefits-jump-img {
    position: absolute;
    width: 420px;
    z-index: 99;
}

.trampoline-benefits .wrapper2 {
    position: relative;
    z-index: 999;
}

.trampoline-benefits .wrapper2 .benefits-container {
    padding-left: 30%;
}

.trampoline-benefits .wrapper2 .benefits-container h2 {
    color: var(--white);
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #00000096;
    line-height: 1;
}

.trampoline-benefits .wrapper2 .benefits-container .secondary {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 10px;
}

.trampoline-benefits .wrapper2 .benefits-container .primary {
    font-size: 3.75rem;
    margin-bottom: 50px;
    display: block;
}

.trampoline-benefits .wrapper2 .benefits-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trampoline-benefits .wrapper2 .benefits-cards .cards {
    display: flex;
    flex-direction: column;
}

.trampoline-benefits .wrapper2 .benefits-cards .cards img {
    width: 5.3125rem;
    margin: 0 auto 25px;
    margin-bottom: 25px;
    display: block;
    height: auto;
}

.trampoline-benefits .wrapper2 .benefits-cards .cards p {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
    text-align: center;
}

/* css for sneak peak */

.sneak-peak {
    background-color: var(--white);
    /* height: 500px; */
}
.sneak-peak .wrapper2{
    margin-top: 7.5rem;
    /* margin-bottom: 7.5rem; */
}
.sneak-peak .wrapper2 .sneak-peak-cards {
    display: flex;
    gap: 0 30px;
}
.sneak-peak .wrapper2 .sneak-peak-cards .cards {
    box-shadow: 5px 5px 10px #0000008c;
    border-radius: 30px;
    flex: 1;
}
.sneak-peak .wrapper2 .sneak-peak-cards .text-card {
    border-radius: 30px;
    text-align: center;
    background: var(--purple);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video {
    border-radius: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video video{
    object-fit: cover;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

/* css for about us */
.about-us{
    background: linear-gradient(104.39deg,#1f87ec 3.92%,#29c2c2 81.45%);
    margin: 60px 0;
    padding: 40px 0;
}
.about-us .wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .wrapper2 div{
    width: 50%;
}
.about-us .wrapper2 .text-holder{
    padding-right: 20px;
}
.about-us .wrapper2 .text-holder h1{
    font-size: 3.125rem;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 0 0 5px #0000006b;
    color: var(--white);
}
.about-us .wrapper2 .text-holder p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2;
    color: var(--white);
    margin-bottom: 1.125rem;
}
.about-us .wrapper2 .img-holder img{
    height: 31.25rem;
    width: auto;
    float: right;
}

/* css for enquiry section */
.enquiry{
    margin-bottom: 60px;
}
.enquiry .wrapper2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enquiry .wrapper2 .form-holder{
    background: #F6F5F5;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 5px 2px 10px #00000061;
    width: 100%;
    height: 100%;
}
.enquiry .wrapper2 .form-holder .text-holder{
    text-align: center;
    margin-bottom: 1.5rem;
}
.enquiry .wrapper2 .form-holder .text-holder h2{
    color: var(--blue);
    letter-spacing: 3px;
    margin-bottom: 20px;
    line-height: 1;
    font-size: 2.2rem;
}
.enquiry .wrapper2 .form-holder .text-holder p{
    font-size: 1.25rem;
    font-weight: 500;
    color: grey;
}
.enquiry .wrapper2 .form-holder .form-img-holder{
    display: flex;
}
.enquiry .wrapper2 .form-holder .form-img-holder .form{
    flex: 1;
    flex-basis: 50%;
    padding-right: 24px;
}
.enquiry .wrapper2 .form-holder .form-img-holder .img-holder{
    flex: 1;
    flex-basis: 50%;
    padding-left: 24px;
}
.enquiry .wrapper2 .form-holder .form-img-holder .img-holder img{
    height: auto;
    width: 100%;
}
.enquiry .wrapper2 .form-holder .form-img-holder h2{
    margin-bottom: 20px;
    
}
.enquiry .wrapper2 .form-holder .form-img-holder h2 a {
    color: var(--light-orange);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
  
}
.enquiry .wrapper2 .form-holder .form-img-holder input,
.enquiry .wrapper2 .form-holder .form-img-holder textarea{
    font-weight: 300;
    width: 100%;
    border: 1px solid var(--blue);
    font-size: 1rem;
    height: 35px;
    color: var(--blue);
    background: 0 0;
    box-shadow: none;
    padding: 5px 10px;
    line-height: 18px;
    margin-bottom: 20px;
}
.enquiry .wrapper2 .form-holder .form-img-holder textarea{
    margin-bottom: 20px;
    height: 80px;
}
.enquiry .wrapper2 .form-holder .form-img-holder button{
    max-width: 100%;
    min-width: 100%;
    font-weight: 300;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    font-size: 1rem;
    height: 40px;
    transition: all .2s;
    cursor: pointer;
}
.enquiry .wrapper2 .form-holder .form-img-holder button:hover{
    background-color: var(--purple);
}

/* css for footer section */
footer{
    background-color: var(--purple);
    color: var(--white);
    padding: 20px 0;
}
footer .wrapper2{
    display: flex;
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
}
footer .wrapper2 a{
    color: var(--white);
    margin-left: 10px;
}
footer .wrapper2 .data{
    display: flex;
    justify-content: center;
}
footer .wrapper2 .social-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

/* media queries */

/* Extra Small devices (phones) */
@media (max-width: 576px) {
    .scroller {
        height: auto;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .scroller span{
        white-space: nowrap;
        animation: slide 30s linear infinite;
    }
    @keyframes slide {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-67%);
        }
    }
    nav .wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px 0;
    }
    nav .wrapper .logo-holder{
        text-align: center;
        margin: 0 0 10px 0;
    }
    nav .wrapper .logo-holder img {
        max-height: 75px;
        display: block;
        margin: 0 auto;
    }
    nav .btn-holder{
        display: flex;
        justify-content: space-between;
        position: absolute;
        gap: 0 20px;
        top: 55vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }
    nav .btn-holder button {
        width: 165px;
        font-size: 1rem;
        padding: 8px;
        min-width: 165px;
        margin-left: auto;
    }
    .video-player  {
        height: 65vh;
        margin-bottom: 40px;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .video-player video{
        width: 160%;
        height: 65vh;
        position: relative;
        object-fit: fill;
    }
    .hero-content{
        z-index: 10;
    }
    .hero-content img{
        width: 300px;
        height: auto;
    }
    .video-player::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #761ACA82 0%, rgba(118, 26, 202, 0.01) 100%);
        z-index: 9;
    }

    .coupons-holder {
        overflow: hidden;
        margin-top: 0;
        /* overflow: auto; */
        /* scroll-snap-type: x mandatory; */
        margin-bottom: 30px;
    }    
    
    .coupons-holder .cards{
        border: 1px solid #d1d1d1;
        flex: 0 0 100%;
        /* scroll-snap-align: start; */
        max-width: 424px;
        margin-bottom: 30px;
    }
    /* .coupons-holder .cards:not(:last-child) {
    margin-right: 10px;
} */
    .gld_slide{
        display: flex;
        justify-content: center;
    }
    .gld2_slide{
        justify-content: center;
    }
    .coupons-holder .cards .img-holder {
        width: 100%;
        height: 100%;
    }
    
    .coupons-holder .cards .img-holder img {
        width: 100%;
        height: 100%;
        
    }


    .coupons-holder .cards .text-holder p {
        font-size: 1.25rem;
    }
    .coupons-holder .cards .text-holder h2 {
        font-size: 2.2rem;
    }
    .coupons-holder .cards .text-holder {
        min-height: 150px;
    }
    .coupons-holder .cards button {
        font-weight: 400;
        font-size: 1rem;
        padding: 6px 20px;
        width: 135px;
    }
    .coupons-holder .cards a{
        width: 95%;
        margin: 2px 0;
    }

    .booking-section {
        margin: 20px 0;
    }
    .booking-section .booking-section-child {
        padding: 25px 10px;
    }
    .booking-section .text-holder{
        margin-bottom: 20px;
    }
    .booking-section-child .text-holder h1{
        font-size: 1.56rem;
        line-height: 1;
    }
    .booking-section-child .img-form-holder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .booking-section-child .img-holder,
    .booking-section-child .form-holder{
        width: 95%;
    }
    .booking-section-child .img-holder{
        max-width: 95%;
        margin-bottom: 20px;
    }

    .testimonials{
        padding: 20px 0;
    }
    .testimonials .wrapper2{
        overflow: hidden;
    }
    .testimonials .text-holder h1 {
        font-size: 2.2rem;

        line-height: 1;
    }
    .testimonials .logo-holder{
        margin-bottom: 20px;
    }
    .testimonials .logo-holder img{
        width: 60px;
    }
    .testimonials-holder {
        justify-content: space-between;
        /* overflow-x: auto;
        scroll-snap-type: x mandatory; */
        /* overflow: hidden; */
        margin-bottom: 20px;
    }
    .testimonials-holder .cards {
        max-width: 390px;
        flex: 0 0 100%;
        /* scroll-snap-align: start; */
        margin-bottom: 40px;
        flex: 1;
    }

    .trampoline-benefits {
        padding: 40px 0;
        margin-bottom: 70px;
    }
    .trampoline-benefits .benefits-jump-img {
        width: 220px;
        bottom: -75px;
        left: -20px;
    }
    .trampoline-benefits .wrapper2 .benefits-container {
        padding-left: 0%;
    }    
    .trampoline-benefits .wrapper2 .benefits-container .primary{
        font-size: 2.5rem;
        text-align: center;
    }
    .trampoline-benefits .wrapper2 .benefits-container .secondary{
        font-size: 2.2rem;
        text-align: center;

    }
    .trampoline-benefits .wrapper2 .benefits-cards >* {
        flex: 0 0 33%;
        margin-bottom: 25px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards {
        justify-content: flex-end;
    }
    .trampoline-benefits .wrapper2 .benefits-cards .cards img{
        width: 70px;
        margin: 0 auto 20px;
        margin-bottom: 10px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards .cards p{
        font-size: 1rem;
    }

    .sneak-peak{
        margin: 30px 0 0 0;
    }
    .sneak-peak .wrapper2{
        margin-top: auto;
        margin-bottom: auto;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px 0;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *:nth-child(2n+1){
        margin-right: 1rem;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *:not(:last-child){
        margin-right: 0;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *{
        flex: 0 0 47%;
        max-width: 47%;
        margin-bottom: 20px;
        
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card{
        min-height: 240px;
        border-radius: 15px;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card h2{
        font-size: 1.40rem;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video {
        margin-bottom: 0;
        border-radius: 15px;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video video{
        object-fit: cover;
        width: -webkit-fill-available;
        height: 100%;
        border-radius: 15px;
    }

    .about-us{
        margin: 30px 0;
        padding: 20px 0;
    }
    .about-us .wrapper2 {
        flex-direction: column;
    }
    .about-us .wrapper2 div{
        width: 100%;
    }
    .about-us .wrapper2 .text-holder h1{
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    .enquiry .wrapper2 .form-holder{
        padding: 30px 15px;
        border: 30px;
    }
    .enquiry .wrapper2 .form-holder .text-holder h2{
        font-size: 1.8rem;
        line-height: 1.1;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .form{
        padding-right: 0px;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .form h2{
        text-align: center;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .img-holder{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 0px;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder{
        flex-direction: column;
    }


    footer{
        padding: 16px 0;
    }
    footer .wrapper2{
        flex-direction: column;
        font-size: 1rem;
    }
    

}

/* Small devices (tablets) */
@media (min-width: 577px) and (max-width: 767px) {
    
    .scroller {
        height: auto;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .scroller span{
        white-space: nowrap;
        animation: slide 30s linear infinite;
    }
    @keyframes slide {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-67%);
        }
    }
    nav .wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px 0;
    }
    nav .wrapper .logo-holder{
        text-align: center;
        margin: 0 0 10px 0;
    }
    nav .wrapper .logo-holder img {
        max-height: 75px;
        display: block;
        margin: 0 auto;
    }
    nav .btn-holder{
        display: flex;
        justify-content: space-between;
        position: absolute;
        gap: 0 20px;
        top: 55vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }
    nav .btn-holder button {
        width: 165px;
        font-size: 1rem;
        padding: 8px;
        min-width: 165px;
        margin-left: auto;
    }
    .video-player  {
        height: 65vh;
        margin-bottom: 40px;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .video-player video{
        width: 160%;
        height: 65vh;
        position: relative;
        object-fit: fill;
    }
    .hero-content{
        z-index: 10;
    }
    .hero-content img{
        width: 300px;
        height: auto;
    }
    .video-player::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(360deg, #761ACA82 0%, rgba(118, 26, 202, 0.01) 100%);
        z-index: 9;
    }

    .coupons-holder {
        margin-top: 0;
        overflow: hidden;
        /* overflow: auto;

        scroll-snap-type: x mandatory; */
        margin-bottom: 60px;
    }    
    .gld_slide{
        display: flex;
        justify-content: center;
    }
    .coupons-holder .cards{
        border: 1px solid #d1d1d1;
        flex: 0 0 100%;
        /* scroll-snap-align: start; */
        max-width: 424px;
    }
    /* .coupons-holder .cards:not(:last-child) {
    margin-right: 10px;
} */
    .coupons-holder .cards .img-holder {
        width: 100%;
        height: 100%;
    }
    
    .coupons-holder .cards .img-holder img {
        width: 100%;
        height: 100%;
        
    }


    .coupons-holder .cards .text-holder p {
        font-size: 1.25rem;
    }
    .coupons-holder .cards .text-holder h2 {
        font-size: 2.2rem;
    }
    .coupons-holder .cards .text-holder {
        min-height: 150px;
    }
    .coupons-holder .cards button {
        font-weight: 400;
        font-size: 1rem;
        padding: 6px 20px;
        width: 135px;
    }
    .coupons-holder .cards a{
        width: 95%;
        margin: 2px 0;
    }

    .booking-section {
        margin: 20px 0;
    }
    .booking-section .booking-section-child {
        padding: 25px 10px;
    }
    .booking-section .text-holder{
        margin-bottom: 20px;
    }
    .booking-section-child .text-holder h1{
        font-size: 1.56rem;
        line-height: 1;
    }
    .booking-section-child .img-form-holder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .booking-section-child .img-holder,
    .booking-section-child .form-holder{
        width: 95%;
    }
    .booking-section-child .img-holder{
        max-width: 95%;
        margin-bottom: 20px;
    }

    .testimonials{
        padding: 20px 0;
    }
    .testimonials .text-holder h1 {
        font-size: 2.2rem;

        line-height: 1;
    }
    .testimonials .logo-holder{
        margin-bottom: 20px;
    }
    .testimonials .logo-holder img{
        width: 60px;
    }
    .testimonials-holder {
        justify-content: space-between;
        /* overflow-x: auto;
        scroll-snap-type: x mandatory; */
        /* overflow: hidden; */
        margin-bottom: 20px;
        position: relative;
        z-index: 999;
    }
    .testimonials .wrapper2{
        overflow: hidden;
    }
    .testimonials-holder .cards {
        max-width: 390px;
        flex: 0 0 100%;
        /* scroll-snap-align: start; */
        margin-bottom: 40px;
        flex: 1;
    }

    .trampoline-benefits {
        padding: 40px 0;
        margin-bottom: 70px;
    }
    .trampoline-benefits .benefits-jump-img {
        width: 220px;
        bottom: -75px;
        left: -20px;
    }
    .trampoline-benefits .wrapper2 .benefits-container {
        padding-left: 0%;
    }    
    .trampoline-benefits .wrapper2 .benefits-container .primary{
        font-size: 2.5rem;
        text-align: center;
    }
    .trampoline-benefits .wrapper2 .benefits-container .secondary{
        font-size: 2.2rem;
        text-align: center;

    }
    .trampoline-benefits .wrapper2 .benefits-cards >* {
        flex: 0 0 33%;
        margin-bottom: 25px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards {
        justify-content: flex-end;
    }
    .trampoline-benefits .wrapper2 .benefits-cards .cards img{
        width: 70px;
        margin: 0 auto 20px;
        margin-bottom: 10px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards .cards p{
        font-size: 1rem;
    }

    .sneak-peak{
        margin: 30px 0 0 0;
    }
    .sneak-peak .wrapper2{
        margin-top: auto;
        margin-bottom: auto;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px 0;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *:nth-child(2n+1){
        margin-right: 1rem;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *:not(:last-child){
        margin-right: 0;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards > *{
        flex: 0 0 47%;
        max-width: 47%;
        margin-bottom: 20px;
        
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card{
        min-height: 240px;
        border-radius: 15px;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card h2{
        font-size: 1.40rem;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video {
        margin-bottom: 0;
        border-radius: 15px;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .cards .sneak-video video{
        object-fit: cover;
        width: -webkit-fill-available;
        height: 100%;
        border-radius: 15px;
    }

    .about-us{
        margin: 30px 0;
        padding: 20px 0;
    }
    .about-us .wrapper2 {
        flex-direction: column;
    }
    .about-us .wrapper2 div{
        width: 100%;
    }
    .about-us .wrapper2 .text-holder h1{
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    .enquiry .wrapper2 .form-holder{
        padding: 30px 15px;
        border: 30px;
    }
    .enquiry .wrapper2 .form-holder .text-holder h2{
        font-size: 1.8rem;
        line-height: 1.1;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .form{
        padding-right: 0px;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .form h2{
        text-align: center;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .img-holder{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 0px;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder{
        flex-direction: column;
    }


    footer{
        padding: 16px 0;
    }
    footer .wrapper2{
        flex-direction: column;
        font-size: 1rem;
    }
    

}

/* Medium devices (laptops, desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    .coupons-holder-slider {
        gap: 0 20px;
    }    
    
    .coupons-holder .cards{
        flex: 1;
    }
    .coupons-holder .cards .img-holder {
        width: 100%;
        height: 100%;
    }
    
    .coupons-holder .cards .img-holder img {
        width: 100%;
        height: 100%;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card h2{
        font-size: 1.40rem;
    }
    .hero-content img{
        height: 200px;
    }
    .coupons-holder .cards .text-holder p {
        font-size: 1rem;
    }
    .coupons-holder .cards .text-holder h2 {
        font-size: 1.625rem;
        font-weight: 700;
    }
    .coupons-holder .cards .text-holder {
        min-height: auto;
    }
    .coupons-holder .cards button {
        font-size: 0.875rem;
        padding: 6px 15px;
        width: 100%;
    }
    .coupons-holder .cards a{
        width: 95%;
        margin: 2px 0;
    }
    .trampoline-benefits {
        padding: 3.75rem 0;
    }
    .trampoline-benefits .benefits-jump-img {
        width: 340px;
        bottom: -125px;
    }
    
    .trampoline-benefits .wrapper2 .benefits-cards >* {
        flex: 0 0 33%;
        margin-bottom: 25px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards {
        justify-content: flex-end;
    }
    .about-us .wrapper2 .text-holder h1{
        line-height: 1;
    }
    .enquiry .wrapper2 .form-holder .text-holder h2{
        font-size: 2rem;
        line-height: 1.2;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
    }
    .enquiry .wrapper2 .form-holder .form-img-holder .img-holder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer{
        padding: 16px 0;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }
    
    /* Style for Firefox */
    * {
        scrollbar-color: var(--purple) transparent;
    }
    
    /* Style for Edge and Internet Explorer */
    * {
        -ms-overflow-style: none;
    }
    
    *::-ms-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .coupons-holder-slider {
        gap: 0 30px;
    }    
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card h2{
        font-size: 1.75rem;
    }
    .hero-content img{
        height: 200px;
    }
    .coupons-holder .cards .text-holder p {
        font-size: 1rem;
    }
    .coupons-holder .cards .text-holder h2 {
        font-size: 1.625rem;
        font-weight: 700;
    }
    .coupons-holder .cards .text-holder {
        min-height: auto;
    }
    .coupons-holder .cards button {
        font-size: 0.875rem;
        padding: 6px 15px;
        width: 100%;
    }
    .coupons-holder .cards a{
        width: 95%;
        margin: 2px 0;
    }
    .trampoline-benefits {
        padding: 3.75rem 0;
    }
    .trampoline-benefits .benefits-jump-img {
        width: 340px;
        bottom: -125px;
    }
    
    .trampoline-benefits .wrapper2 .benefits-cards >* {
        flex: 0 0 33%;
        margin-bottom: 25px;
    }
    .trampoline-benefits .wrapper2 .benefits-cards {
        justify-content: flex-end;
    }
    .about-us .wrapper2 .text-holder h1{
        line-height: 1;
    }
    .enquiry .wrapper2 .form-holder .text-holder h2{
        font-size: 2rem;
        line-height: 1.2;
    }
    .about-us .wrapper2 .img-holder img{
        height: auto;
        width: 100%;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }
    
    /* Style for Firefox */
    * {
        scrollbar-color: var(--purple) transparent;
    }
    
    /* Style for Edge and Internet Explorer */
    * {
        -ms-overflow-style: none;
    }
    
    *::-ms-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }

}

/* Extra Large devices (extra large desktops) */
@media (min-width: 1200px) {
    .coupons-holder-slider {
        gap: 0 30px;
    }
    .sneak-peak .wrapper2 .sneak-peak-cards .text-card h2{
        font-size: 1.75rem;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }
    
    /* Style for Firefox */
    * {
        scrollbar-color: var(--purple) transparent;
    }
    
    /* Style for Edge and Internet Explorer */
    * {
        -ms-overflow-style: none;
    }
    
    *::-ms-scrollbar-thumb {
        background-color: var(--purple);
        border-radius: 6px;
    }
}

















/* ==== css start for new cards setion ==== */


.wrapper2 {
    max-width: 1280px;
    padding: 0 24px;
    margin: 0 auto;
}

.trampoline-park-laser{
    height: 400px;
    background-color: #f8f8f8;
}
.trampoline-park-laser .cards-holder{
    height: 400px;
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.trampoline-park-laser .cards-holder .card{
    max-height: 282px;
    border-radius: 15px;
}
.trampoline-park-laser .cards-holder .card .top{
    height: 85px;
    background-color: #fff;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}
.trampoline-park-laser .cards-holder .card .bottom{
    border-radius: 0 0 15px 15px;
    height: 197px;
    width: 100%;
}
.trampoline-park-laser .cards-holder .card .bottom{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 24px 23px;
    font-weight: bold;
}
.trampoline-park-laser .cards-holder .days .bottom .hd p{
    visibility: hidden;
}
.trampoline-park-laser .cards-holder .card .bottom .hd{
    font-size: 20px;
    line-height: 24px;
}
.trampoline-park-laser .cards-holder .card .bottom .sd{
    font-size: 25px;
    line-height: 30px;
}
.trampoline-park-laser .cards-holder .card .bottom .row{
    display: flex;
    column-gap: 46px;
    border-bottom: 1px solid #fff;
    justify-content: center;
    padding: 12px 0;
}
.trampoline-park-laser .cards-holder .card .bottom .row:nth-child(3){
    border-bottom: none;
}
.trampoline-park-laser .cards-holder .days{
    width: 193px;
}
.trampoline-park-laser .cards-holder .widecard{
    width: 320px;
}
.trampoline-park-laser .cards-holder .days .bottom .hd{
    border-bottom: none;
}

@media (max-width: 591px){
    .wrapper2 {
        width: 1280px;
        max-width: 100%;
        padding: 0 12px;
        margin: 0 auto;
    }
    .trampoline-park-laser .cards-holder .card{
        margin-right: 12px;
    }

}

/* === COLORED DIVISIONS === */


.box-orange{
    background-color: #F7901E;
}
.box-skyblue{
    background-color: #3D9BE9;
}

/* === COLORED DIVISIONS === */


/* ==== css end for cards section ==== */

/* ********************************* */

/* === css start for city tabs section === */
.city-list-tab{
    /* background-color: pink; */
    width: 100%;
}
.city-list-tab .city-list-holder{
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.city-list-tab .city-list-holder .heading-holder{
    /* height: 20%; */
    text-align: center;
    font-size: 40px;
}
.city-list-tab .city-list-holder .tabs-holder{
    height: 20%;
}
.city-list-tab .city-list-holder .tabs-container{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.city-list-tab .city-list-holder .tabs-holder{
    display: flex;
    justify-content: center;
    align-items: end;
}
.city-list-tab .city-list-holder .tabs-holder .tab-btn{
    display: inline-block;
    padding: 12px 24px;
    margin: 16px;
    background: #459bd7;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}
.city-list-tab .city-list-holder .tabs-container .location-card{
    max-width: 396px;
    max-height: 300px;
    width: 396px;
    height: 300px;
    background-color: black;
}
.city-list-tab .city-list-holder .tabs-container .location-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.city-list-tab .city-list-holder .tabs-container .location-card{
    position: relative;
    border-radius: 15px;
}
.city-list-tab .city-list-holder .tabs-container .location-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    border-radius: 15px;
}
.hero-content-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    /* Ensure the content appears above the tint */
}

.hero-content-location h4{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.city-list-tab .city-list-holder .up-city{
    margin-top: 60px;
    margin-bottom: 30px;
}
.city-list-tab .city-list-holder .heading-holder{
    margin-bottom: 30px;
}
.city-list-tab .city-list-holder .heading-holder h4{
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}


@media (max-width: 591px){
    .city-list-tab .city-list-holder{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .city-list-tab .city-list-holder .up-city{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .city-list-tab .city-list-holder .heading-holder{
        margin-bottom: 20px;
    }

    .city-list-tab .city-list-holder .heading-holder h4{
        font-size: 35.2px;
        line-height: 1;
        letter-spacing: 1.3;
    }

}



/* === css end for city tabs section === */







/* === css for blog page === */


.blog-hero{
    height: 290px;
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.blog-hero .hero-text h1{
    font-size: 45px;
    font-weight: 500;
}
.blog-hero .hero-img-holder{
    height: 100%;
    width: 100%;
}
.blog-hero .hero-img-holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-hero .hero-img-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.blog-hero .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    /* Ensure the content appears above the tint */
}
.blogs-holder{
    /* height: 900px; */
    padding-top: 60px;
    padding-bottom: 60px;
}
.blogs-holder .wrapper2{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.blogs-holder .wrapper2 .left-part{
    width: 66.6%;
}
.blogs-holder .wrapper2 .right-part{
    width: 30.3%;
}
.blog-card-holder .blog-card{
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    background-color: #fcfcfc;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d1d1d175;
    border-radius: 4px;
}
.blog-card-holder .blog-card .img-holder{
    height: 100%;
    width: 35%;
    border-radius: 4px;
}
.blog-card-holder .blog-card .img-holder img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.blog-card-holder .blog-card .text-holder{
    width: 62%;
    height: 100%;
    position: relative;
}

.blog-card-holder .blog-card .text-holder .heading h4{
    font-size: 20px;
    font-weight: 600;
}
.blog-card-holder .blog-card .text-holder .metadata{
    display: flex;
    column-gap: 20px;

}
.blog-card-holder .blog-card .text-holder hr{
    margin: 2px;
    border: 1px solid #ececec;
}
.blog-card-holder .blog-card .text-holder .metadata i,
.blog-card-holder .blog-card .text-holder .metadata p {
    display: inline;
    font-size: 12px;
}
.blog-card-holder .blog-card .text-holder .metadata p{
    margin-left: 5px;
}
.blog-card-holder .blog-card .text-holder .description{
    margin-top: 20px;
    line-height: 1.3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-weight: 300;
    font-size: 16px;
}
.blog-card-holder .blog-card .text-holder .a-holder{
    position: absolute;
    bottom: 0;
    right: 0;
}
.blog-card-holder .blog-card .text-holder .a-holder a{
    color: #f6891f;
    font-size: 14px;
    text-decoration: none;
    transition: all 1s ease;
}
.blog-card-holder .blog-card .text-holder .a-holder a:hover{
    text-decoration: underline;
}
.blog-card-holder .pagination-holder{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}







.blog-side-bar-holder {
    padding: 15px;
    margin-bottom: 30px;
}
.blog-side-bar-holder .search-holder{
    width: 100%;
}
.blog-side-bar-holder .recent-holder{
    margin-bottom: 30px;
}
.blog-side-bar-holder .tags-holder{
    height: 40%;
}
.blog-side-bar-holder .search-holder input{
    font-weight: 300;
    width: 100%;
    border: 1px solid var(--blue);
    font-size: 1rem;
    height: 35px;
    color: var(--blue);
    background: 0 0;
    box-shadow: none;
    padding: 5px 10px;
    line-height: 18px;
    margin-bottom: 20px;

    background: url(../img/search-icon.svg) no-repeat scroll 7px 7px;
    padding-left:30px;
}

.blog-side-bar-holder hr{
    margin: 2px;
    border: 1px solid #ececec;
}
.blog-side-bar-holder .recent-blogs-links ul{
    list-style: none;
    margin-top: 10px;
}
.blog-side-bar-holder .recent-blogs-links ul li{
    margin: 5px 0;
}
.blog-side-bar-holder .recent-blogs-links ul a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 16px;
}
.blog-side-bar-holder .recent-blogs-links ul a i{
    font-size: 12px;
    margin-right: 5px;
    transition: all 0.25s ease;
}
.blog-side-bar-holder .recent-blogs-links ul li:hover i{
    margin-right: 8px;
}
.blogs-holder .tags-card-holder {
    margin-top: 15px;
}
.blogs-holder .tags-card-holder ul{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.blogs-holder .tags-card-holder li{
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #00000024;
    background-color: #fcfcfc;
    border-radius: 4px;
}
.blogs-holder .tags-card-holder li a{
    display: inline;
    padding: 2px 5px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    height: 100%;
}
.blogs-holder .tags-card-holder li:hover, .blogs-holder .tags-card-holder li a:hover{
    color: #fcfcfc;
    background-color: #000;
}


@media (max-width: 599px){
    .blog-hero .hero-text h1{
        font-size: 36px;
        font-weight: 500;
    }
    .blogs-holder {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .blogs-holder .wrapper2{
        flex-direction: column;
    }
    .blog-card-holder .blog-card{
        flex-direction: column;
        height: auto;
        align-items: start;
    }
    .blog-card-holder .blog-card .text-holder .description{
        margin-bottom: 50px;
    }
    .blog-card-holder .pagination-holder{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .blog-card-holder .blog-card .img-holder{
        width: 100%;
        max-height: 240px;
        height: 240px;
        margin-bottom: 10px;
    }
    .blog-card-holder .blog-card .img-holder img{
        width: 100%;
        object-fit: cover;
    }
    .blog-card-holder .blog-card .text-holder{
        width: 100%;
    }
    .blogs-holder .wrapper2 .left-part{
        width: 100%;
    }
    .blogs-holder .wrapper2 .right-part{
        width: 90%;
    }
}
@media (min-width: 600px) and (max-width: 767px){
    .blogs-holder .wrapper2{
        flex-direction: column;
        align-items: center;
    }
    .blogs-holder .wrapper2 .left-part{
        width: 100%;
    }
    .blogs-holder .wrapper2 .right-part{
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .blogs-holder .wrapper2{
        flex-direction: column;
        align-items: center;
    }
    .blogs-holder .wrapper2 .left-part{
        width: 100%;
    }
    .blogs-holder .wrapper2 .right-part{
        width: 50%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .blogs-holder .wrapper2 .left-part{
        width: 71%;
    }
    .blogs-holder .wrapper2 .right-part{
        width: 27%;
    }
}



/* ** sub css for blog post page ** */

.blogs-holder .post-holder{
    padding: 15px;
}
.blogs-holder .post-holder .heading{
    margin-bottom: 10px;
}

.blogs-holder .post-holder .heading h2{
    font-weight: 500;
    line-height: 1.1;
    font-size: 32px;
}



.blogs-holder .post-holder .metadata{
    display: flex;
    column-gap: 20px;

}
.blogs-holder .post-holder hr{  
    margin: 5px 0 10px 0;
    border: 1px solid #ececec;
}
.blogs-holder .post-holder .metadata i,
.blogs-holder .post-holder .metadata p {
    display: inline;
    font-size: 14px;
}
.blogs-holder .post-holder .metadata p{
    margin-left: 5px;
}

.blogs-holder .post-holder .img-holder{
    margin-top: 22px;
    margin-bottom: 22px;
    max-height: 450px;
    height: 450px;
}
.blogs-holder .post-holder .img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogs-holder .post-holder .social-holder{
    margin-top: 30px;
}
.blogs-holder .post-holder .social-holder .social-icons{
    display: flex;
    align-items: center;
}
.blogs-holder .post-holder .social-holder .social-icons a{
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
}
.blogs-holder .post-holder .social-holder .social-icons a:nth-child(1){
    margin-left: 10px;
}
.blogs-holder .post-holder .cat-tag-holder{
    margin-top: 20px;
    display: flex;
}
.blogs-holder .post-holder .cat-tag-holder .category-holder{
    max-width: 50%;
    width: 50%;
    font-size: 16px;
}
.blogs-holder .post-holder .cat-tag-holder .category-holder a{
    text-decoration: none;
    color: #000;
}
.blogs-holder .post-holder .cat-tag-holder .tag-holder{
    display: flex;
    gap: 5px;
}

.blogs-holder .post-holder .tags-card-holder {
    margin-top: 0px;
}


@media (max-width: 599px){
    .blogs-holder .post-holder .cat-tag-holder .category-holder{
        width: auto;
    }
    .blogs-holder .tags-card-holder ul{
        gap: 5px;
    }
    .blogs-holder .post-holder .img-holder{
        height: 220px;
    }
}

/* ** sub css end for blog post page ** */

/* === css end for blog page === */
